<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/aop classpath:org/springframework/aop/config/spring-aop-2.0.xsd 
	http://www.springframework.org/schema/tx classpath:org/springframework/transaction/config/spring-tx-2.0.xsd"
	default-lazy-init="true">
<!-- 属性配置，从jdbc.properties中加载数据库的配置 -->
<bean id="propertyConfigurer"
	class="org.springframework.beans.factory.config.PropertyPLaceholderConfigurer">
	<property name="location" value="classpath:jdbc.properties"></property>
	</bean>
<!-- 数据源配置，。用户名密码等配置在jdbc.properties中 -->


	
	
	<!-- 配置sessionFactory -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		
		
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>
	

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean> <!-- 配置事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<!-- <tx:method name="find*" read-only="true" /> <tx:method name="get*" 
				read-only="true" /> <tx:method name="list*" read-only="true" /> <tx:method 
				name="*" read-only="true" rollback-for="Exception" /> -->
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="productServiceMethods" expression="execution(* service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="productServiceMethods" />
	</aop:config>
</beans>